/* .first_side{
  display: flex;
  justify-content: space-around;
}
.first_side img {
  height: 4rem;
  width: 15rem;
}

.last_side{
  margin-left: auto;
  margin-right: auto;
  width: 88%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.card{
  border: solid;
  margin-left: auto;
  margin-right: auto;
} */

.first_side {
  display: flex;
  justify-content: space-around;
  align-items: center; /* محاذاة العناصر في المنتصف عموديًا */
}

.first_side img {
  height: 4rem;
  width: 15rem;
}

.last_side {
  margin: 0 auto;
  width: 88%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.card {
  border: solid 1px #ccc; /* إضافة لون الحدود */
  text-align: center; /* محاذاة النص في الوسط */
  padding: 10px; /* إضافة حشوة داخل المربع */
  border-radius: 5px; /* جعل الزوايا مدورة */
  transition: background-color 0.3s; /* إضافة تأثير عند التمرير */
}

.card:hover {
  background-color: #f0f0f0; /* تغيير لون الخلفية عند التمرير */
}
